.footer4-thq-footer7-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer4-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-thq-content-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-thq-logo-elm1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer4-thq-logo-elm2 {
  height: 2rem;
}
 
.footer4-thq-links-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer4-thq-credits-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer4-thq-row-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer4-container {
  display: flex;
  align-items: flex-start;
}
 
.footer4-thq-footer-links-elm {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer4-thq-text-elm2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.footer4-text1 {
  display: inline-block;
}
 
.footer4-text2 {
  display: inline-block;
}
 
.footer4-text3 {
  display: inline-block;
}
 
.footer4-text4 {
  display: inline-block;
}
 
.footer4-text5 {
  display: inline-block;
}
 
.footer4-text6 {
  display: inline-block;
}
 
.footer4-text7 {
  display: inline-block;
}
 
.footer4-text8 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .footer4-thq-row-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer4-thq-max-width-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer4-thq-links-elm {
    flex-direction: column;
  }
  .footer4-thq-footer-links-elm {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
